<div class="centerDesignView">

  <div id="designOverflow">

    <div id="designView">

    </div>

  </div>

  <edit-tools id="toolEditor"></edit-tools>

</div>

<footer id="designFooter">

  <design-footer></design-footer>

</footer>

<div id="someCodeDiv">

  <div id="someCodeDivHeader">

    <button type="button" name="button" ng-click="save()">Save</button>

  </div>

  <div id="codeContainer">

    <div class="fileDivs" >

      <div class="codeDiv" ng-repeat="object in memory.objects">

        <p>{{object.html[0]}}</p>

        <div class="codeDiv" ng-repeat="object in object.children">

          <p>{{object.html[0]}}</p>

          <div class="codeDiv" ng-repeat="object in object.children">

            <p>{{object.html[0]}}</p>

            <p>{{object.html[1]}}</p>

          </div>

          <p>{{object.html[1]}}</p>

        </div>

        <p>{{object.html[1]}}</p>


      </div>

    </div>

    <div class="fileDivs">

      <div class="styleDivs" ng-repeat="style in styleData">

        <p>
          {{style.selector}} {
          </p>
          <p class="styleKeyDivs" ng-repeat="line in style.data">
            {{line.code}}
          </p>
          <p>
          }
        </p>

      </div>

    </div>

  </div>

</div>
