<div class="toolBar">
  <div class="toolHeader">

    <h6>Add</h6>

  </div>

  <div id="addTools">

    <button type="button" name="button" ng-click="add('header')">Header</button>
    <button type="button" name="button" ng-click="add('div')">Div</button>
    <button type="button" name="button" ng-click="add('text')">Text</button>
    <button type="button" name="button" ng-click="add('image')">Image</button>
    <button type="button" name="button" ng-click="add('list')">List</button>
    <button type="button" name="button" ng-click="add('button')">Btn</button>
    <button type="button" name="button" ng-click="add('tab')">Tab</button>

  </div>

  <div id="layoutTree">
    <h3 ng-click="select('root')">Root</h3>
    <div class="" ng-repeat="object in memory.objects">
      <div class="treeBranch">
        <h3 ng-click="select(object)"> {{ object.htmlId }}</h3>

        <div class="subTreeBranch" ng-repeat="child in object.children">
          <div class="">

            <h3 ng-click="select(child)"> {{ child.htmlId }}</h3>

          </div>
          <div class="subTreeBranch" ng-repeat="grandchild in child.children">
            <div class="">

              <h3 ng-click="select(grandchild)"> {{ grandchild.htmlId }}</h3>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
