<div id="projectsContainer" data-ng-controller="mainCtrl" data-ng-init="init()">

  <div id="projectsHeader">
    <button type="button" name="button" ng-click="newProject()">New</button>

    <form ng-submit="newProject(frm)">

      <input type="text" name="projectTitleInput" value="" placeholder="Title" ng-model="frm.projectTitle">

      <label for="">Use Pivotal Tracker?</label><input type="checkbox" name="pivotalCheckbox" value="User Pivotal Tracker?" ng-model="frm.pivotalCheckbox">

      <input type="submit" name="name" value="Send" >

    </form>

  </div>

  <div class="projects" ng-repeat="project in projects">

    <h1>{{project}}</h1>

    <div class="projectHeaders">
      <!-- <div class="projectTools">
        <button type="button" name="button" placeholder="pivotal image" ng-model="getPivotal" ng-change="getPivotal(project)">Pivotal Tracker</button>
      </div> -->

      <!-- <h2>{{project.project_name}}</h2> -->

    </div>

    <span class="projectFooters">

      <p >
        <!-- {{project.start}} -->
      </p>

      <p>
        <!-- {{project.progress}} -->
      </p>

    </span>

  </div>

</div>
