<div id="validationDiv" ng-controller="mainCtrl">
  <div class="signinCell">
    <h3>Sign up!</h3>
    <p>
      Save projects, track project stories via Pivotal Tracker, Build, Commit, and Deploy
    </p>
  </div>
  <div class="signinCell">

    <form class="" ng-submit="submit(frm, 'signup')">

      <pre>Email Address: <input type="text" name="email" id="emailInput" ng-model="frm.email" value=""></pre>
      <pre>Password: <input type="password" name="password" value="" ng-model="frm.password"></pre>
      <pre>Pivotal API Key: <input type="password" name="pivotalkey" ng-model="frm.pivotalKey" value=""></pre>
      <pre>Github Username: <input type="password" name="githubUsername" ng-model="frm.githubUsername" value=""></pre>
      <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=63f94c97b5cefc3def23">Github</a>
      <input type="submit" name="name" id="submitButton" value="Submit">

    </form>



  </div>
</div>
